/* Reset style Browser */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

@font-face {
    font-family: fontTitle;
    src: url(../fonts/EnchantedLand.otf);
}

body {
    color: #191919;
    font-family: 'Fredoka', sans-serif;
    font-weight: 400;
}

.container__logo {
    left: 40px;
    height: 0;
    top: -12px;
    position: relative;
    width: 0;
}

.container__logo--background {
    background-color: white;
    border-radius: 3rem;
    height: 11rem;
    padding: 24px 20px;
    text-align: center;
    width: 10rem;
}
.container__logo--background img {
    height: auto;
    margin: auto;
    width: 100%;
}

.header__title {
    background-color: lightgray;
}
.header__title h1 {
    display: inline-block;
    font-size: 1.75rem;
    padding: 10px;
    text-align: right;
    width: 49%;
}
.header__title--subtitle {
    display: inline-block;
    font-family: fontTitle;
    font-size: 1.25rem;
    padding-left: 220px;
    width: 49%;
}
.header__title--subtitle h3 {
    position: relative;
    top: -14px
}

.header__nav {
    background-color: #45B39D;
    height: 4.5rem;
}
.header__nav--title {
    display: inline-block;
    text-align: left;
    padding-left: 210px;
    padding-top: 13px;
    width: 40%;
}
.header__nav--title h2 {
    font-family: fontTitle;
    font-size: 2.5rem;
    position: relative;
    top: 5px;
}

.header__nav ul {
    display: inline-block;
    list-style: none;
    margin: 20px 10px 0px 0px;
    position: relative;
    text-align: right;
    top: -11px;
    width: 52%;
}

.header__nav ul li {
    color: #191919;
    display: inline-block;
    font-weight: 900;
    margin: 20px 5px;
}

.header__nav ul li a{
    color: inherit;
    text-decoration: none;
}

.header__nav a img {
    display: inline-block;
    height: 2rem;
    margin: 2px;
}

.section__presentation {
    text-align: right;
    width: 100%;
}

.section__presentation h4 {
    font-family: fontTitle;
    font-size: 3rem;
    padding: 0.75rem;
}

.section__presentation article {
    padding: 10px 0px;
    width: 100%;
}

.section__presentation article iframe{
    background-color: white;
    display: inline-block;
    height: 300px;
    width: 59%;
}

.section__presentation article div {
    display: inline-block;
    height: 300px;
    padding: 0px 0px 10px 0px;
    text-align: left;
    width: 40%;
}

.section__presentation article div p {
    display: inline-block;
    padding: 10px;
    text-align: justify;
}

.article__obra {
    border: 3px solid lightgrey;
    border-radius: 6px;
    height: auto;
    margin: 7px;
    padding: 15px 10px 0px 10px;
}

.article__obra img {
    display: inline-block;
    border-radius: 7px;
    width: 24%;
}

.section__obrainfo {
    display: inline-block;
    padding: 5px;
    position: relative;
    top: -1rem;
    width: 25%;
}

.section__obrainfo h5 {
    font-family: fontTitle;
    font-size: 1.6rem;
}

.section__obrainfo p {
    padding: 10px 0px;
    text-align: justify;
}

.section__obrainfo button {
    background-color: #45B39D;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    font-size: 0.9rem;
    height: 40px;
    width: 100%;
}

footer {
    background-color: #45B39D;
    height: 60px;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

footer p {
    color: #191919;
    font-weight: 900;
}

/* Estilos Producciones.html */
.producciones__article {
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: 50px 30px 10px 30px;
    text-align: right;
}

.producciones__article p {
    margin-bottom: 10px;
    padding: 0px 20px;
    text-align: justify;
}

.producciones__article button {
    background-color: #45B39D;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    font-size: 0.9rem;
    height: 40px;
    margin: 10px;
    width: 25%;
}
.producciones__article--title {
    display: inline-block;
    padding: 0px 10px;
    position: relative;
    top: -10px;
    width: 59%;
}
.producciones__article--title h2 {
    font-family: fontTitle;
    font-size: 3rem;
    font-weight: 700;
    padding: 10px 10px 10px 5px;
}

.producciones__article--title p {
    display: inline-block;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    text-align: justify;
}
.producciones__article--tag {
    display: inline-block;
    height: 30px;
    margin-bottom: 10px;
    width: auto;
}
.producciones__article--tag p {
    background-color: lightgrey;
    border-radius: 20px;
    display: inline-block;
    height: 100%;
    padding: 5px 15px;
    text-align: center;
    width: auto;
}
.producciones__article--image {
    display: inline-block;
    height: auto;
    width: 40%;
}

.producciones__article--image img {
    display: inline-block;
    height: auto;
    width: 100%;
}

/* Estilo de galeria.html */
.article__galeria {
    border: 2px solid lightgrey;
    border-radius: 6px;
    margin: 50px 30px 10px 30px;
    text-align: center;
}
.article__galeria h4 {
    font-family: fontTitle;
    font-size: 3rem;
    margin: 10px;
}
.article__galeria--fotos img {
    display: inline-block;
    margin: 2px;
    width: 24%;
}

/* Estilo de prensa.html */
.article__prensa {
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: 50px 30px 0px 30px;
    text-align: right;
}

.article__prensa--imagen {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.article__prensa--imagen img {
    display: inline-block;
    width: 85%;
}

.article__prensa--nota {
    display: inline-block;
    padding: 10px;
    text-align: justify;
    width: 69%;
}

.article__prensa--nota p {
    padding: 5px 0px
}
.article__prensa--tag {
    display: inline-block;
    height: 30px;
    margin-bottom: 10px;
    width: auto;
}
.article__prensa--tag p {
    background-color: lightgrey;
    border-radius: 20px;
    display: inline-block;
    height: 100%;
    padding: 5px 15px;
    text-align: center;
    width: auto;
}
.article__prensa--nota button {
    background-color: #45B39D;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 800;
    font-size: 0.9rem;
    height: 40px;
    margin: 10px 10px 10px 50px;
    width: 25%;
}

.article__prensa--nota h2 {
    padding: 25px 0px
}

/* Estilos nosotros.html */
.article__nosotros {
    border: 2px solid lightgrey;
    border-radius: 6px;
    margin: 50px 30px 10px 30px;
    padding: 5px;
    text-align: justify;
}

.article__nosotros img {
    display: inline-block;
    width: 30%;
}

.article__nosotros--content {
    display: inline-block;
    width: 69%;
}

.text-right {
    text-align: right;
}
.article__nosotros--content h3 {
    font-family: fontTitle;
    font-size: 2.5rem;
    padding: 10px 20px 5px 20px;
}

.article__nosotros--content h4 {
    padding: 5px 20px;
}

.article__nosotros--content p {
    font-size: 1.2rem;
    padding: 10px;
    text-align: justify;
}

.article__nosotros--content h5 {
    text-align: center;
    font-size: 1.2rem;
    font-style: italic;
}

/* Estilos contacto.html */
.main__contacto {
    text-align: center;
    margin: 60px;
}
.form__cotainer {
    display: inline-block;
    text-align: center;
    border: 3px solid lightgrey;
    border-radius: 20px;
    /* box-shadow: 0 0 40px 0 lightgrey; */
    height: 1040px;
}

form {
    display: inline-block;
    text-align: left;
    border-radius: 20px;
    /* box-shadow: inset 0 0 40px 0 lightgrey; */
    width: 100%;
    height: 100%;
    padding: 30px;
}
form fieldset {
    border: none;
    padding: 20px;
}

form fieldset legend { 
    font-family: fontTitle;
    font-size: 3rem;
}

form label {
    display: block;
    font-size: 1.3rem;
    margin-top: 10px;
    padding: 5px 10px;
    width: 90%;
}

form input {
    border: 1px solid lightgrey;
    border-radius: 6px;
    display: block;
    font-size: 1.3rem;
    height: 40px;
    margin: 0px 0px 0px 20px;
    padding: 20px;
    width: 90%;
}

form select {
    border: 1px solid lightgrey;
    border-radius: 6px;
    display: block;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2rem;
    height: 40px;
    margin: 0px 0px 0px 20px;
    padding: 5px 5px 5px 25px;
    width: 90%;
}

.form__radio {
    padding: 10px;
    font-size: 1.3rem;
    text-align: left;
}
.form__radio label {
    display: inline-block;
    height: 20px;
    margin-left: 40px;
    width: 50%
}
.form__radio input {
    display: inline-block;
    height: 20px;
    width: 20px;
}

form textarea {
    border: 1px solid lightgrey;
    border-radius: 6px;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.3rem;
    margin: 0px;
    padding: 20px;
    width: 100%;
}

.btn__reset {
    background-color: #b3455b;
    display: inline-block;
    font-family: 'Fredoka', sans-serif;
    height: 50px;
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 32%;
}

.btn__submit {
    background-color: #45B39D;
    display: inline-block;
    font-family: 'Fredoka', sans-serif;
    height: 50px;
    margin: 0;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    width: 67%;
}