/* nosotros.html */
.nosotrosSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nosotros {
    display: flex;
    
    max-width: 1000px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    img {
        width: 35%;
        padding: 0.5rem;
        object-fit: cover;
    }

    div {
        width: 65%;
    }

    h4 {
        font-size: 1.1rem;
    }

    h5 {
        font-family: fontTitle;
        padding: 20px 0;
        font-size: 2.2rem;
        text-align: center;
        font-weight: 500;
        font-style: italic;
    }
    
    p {
        text-align: justify;
        padding: 10px 20px;
    }
    
    @include tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;

        h5 {
            font-size: 2.5rem;
        }
        
        img {
            width: 20%;
            object-fit: contain;
        }
        
        div {
            width: 45%;
        }
        
        p {
            width: 65%;
        }
    }
    
    @include desktop {
        justify-content: flex-start;
        h5 {
            font-size: 2.8rem;
        }
    }
}

.nosotros-right {
    @extend .nosotros;
    div {
        text-align: right;
    }
    @include desktop {
        justify-content: flex-end;
    }
}