/* Prensa.html */
.fecha {
    font-size: 1.1rem;
    margin-left: 10px;
    font-weight: 800;
    text-align: center;
    
    @include desktop {
        margin-right: 10%;
        text-align: right;
    }
}
.prensa {
    text-align: left;

    h2 {
        width: 100%;
        padding: 0 3px;
        text-align: center;
        margin-bottom: 20px;
    }

    @include tablet {
        text-align: right;
    }

    @include desktop {
        text-align: left;
    }
}




.prensaBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 20px;
    
    img {
        width: 100%;
        object-fit: cover;
                   
        @include tablet {
            width: 50%;
        }
        
        @include desktop {
            width: 35%;
        }
    }
    
    p {
        text-align: justify;
        padding: 5px 40px;
    }

    .buttonPrincipal {
        width: 30vw;
    }

    .prensaText {
        width: 100%;
        @include tablet {
            width: 50%;
        }
    
        @include desktop{
            width: 65%;
        }
    }
    
    @include tablet {
        width: 80vw;
        margin-left: 10vw;

        p {
            width: 100%;
        }
        
        .buttonPrincipal {
            margin-right: 20px;
            width: 20vw;
        }
    }

    @include desktop {
        width: 80%;
        margin-left: 10%;
        
        .buttonPrincipal {
            margin-right: 20px;
            width: 25%;
        }
    }
}
