/* producciones.html */
.produccionSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.produccion { 
    max-width: 1000px;
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    p {
        text-align: justify;
        padding: 0 1rem 1rem 1rem;
        margin: 0;
        width: 100%;
    }

    .produccionButtons {
        display: flex;
        width: 100%;
        justify-content: space-around;

        .buttonPrincipal {
            color: $color-texto;
            width: 45%;
            margin-bottom: 10px;
        }
    }
    
    img {
        border-radius: 8px;
        width: 98%;
        object-fit: contain;
    }

    img:nth-child(2),
    img:nth-child(3) {
        display: none;
    }

    @include tablet {
        flex-direction: column;
        justify-content: center;
        
        div {
            text-align: center;
        }
        
        img:nth-child(2),
        img:nth-child(3) {
            display: inline-block;
        }

        img {
            width: 28%;
        }

    }

    @include desktop {
        
    }
}

.produccionHead {
    font-family: fontTitle;
    text-align: center;
    font-size: 2.5rem;
    @include desktop {
        text-align: left;
    }
}

.produccionTag {
    display: flex;
    justify-content: center;
    margin: 0.3rem 0rem;

    p {
        display: inline-block;
        font-size: 1rem;
        background-color: $color-secundario;
        border-radius: 20px;
        padding: 3px 12px;
        margin-right: 10px;
        width: auto;
    }

    @include desktop {
        text-align: left;
    }
}
